.comments {
	@apply rounded-xl p-6 relative;
	background: #252836;
	height: 41vh;
	overflow: auto;
	> h2 {
		@apply text-white text-tiny;
	}
	.line {
		@apply w-full h-0.5 my-4;
		background-color: #302341;
	}
	> p {
		@apply text-gray-500 mb-4;
	}
	.commentItem {
		@apply mt-7;
		> div > div {
			div {
				&:first-child {
					@apply text-xl;
				}
				&:last-child {
					font-size: 1rem;
				}
			}
		}
	}
	.bottomFrom {
		@apply sticky bottom-0 left-5 mt-5;
		width: calc(100% - 2.5rem);
	}
}
